@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Train+One&display=swap');

/* 

#040F16
#000022
#001242
#005E7C
#0094C6

*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C211F;
    color: #FAFAFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.back-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1C211F;
}

.dashboard-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #fafaff18;
    justify-items: center;
}

.dash-view,
.dash-main {
    width: 100%;
    height: 100%;
}


.a1 a,
.a2 a,
.a3 a,
.a4 a,
.a5 a {
    width: 85%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    justify-content: center;
}

.list-wrapper {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: solid 1px #1C211F;
    border-left: solid 1px #1C211F;
    border-right: solid 1px #1C211F;
}

.task-wrapper {
    width: 98%;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #FAFAFF;
    font-size: 1.2rem;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: -2%;
    margin-bottom: 20px;
}

.task-wrapper .title {
    font-weight: bold;
}

.main-contracts button {
    height: 40px;
    width: 17%;
    font-size: 1rem;
    background-color: #000022;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 1%;
    white-space: nowrap;
}

.main-contracts button:hover {
    opacity: .8;
}

.contract-nav {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-section {
    width: 100%;
    display: flex;
    padding-top: 2vh;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.arrow-expand img {
    transition: 1s;
}

.box-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    height: 40px;
    border-radius: 24px;
    margin-left: 1%;
    background-color: #0094C6;
}

.box-search:hover {
    box-shadow: 0 2px 8px 1px #fafaff4b;
}

.lupa-btn {
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 100%;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
}

.z1asCe {
    color: #1C211F;
    line-height: 24px;
}

.contract-search {
    height: 100%;
    width: 480px;
    background: transparent;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    outline: none;
    border: none;
    padding-left: 15px;
    color: #1C211F;
}

.contract-search:focus {
    color: #1C211F;
}

.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.filter-item {
    cursor: pointer;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.filter-item:hover {
    opacity: .6;
}

.main-contracts canvas {
    width: 100%;
    height: 100%;
}

.dash-container {
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 100%;
    justify-self: flex-start;
    border-left: solid 1px #1C211F;
    font-size: 1rem;
    transition: 1s;
    z-index: 888;
}

.dash-container .arrow-expand {
    width: 100%;
    height: 5%;
    display: grid;
    justify-content: flex-end;
}

.dash-container .arrow-expand img {
    margin-top: 50%;
    margin-right: 15px;
    height: 20px;
    width: 20px;
    transform: rotate(0deg);
    cursor: pointer;
}

.logo-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.center-text div {
    background: -webkit-linear-gradient(#0094C6, #FAFAFF);
    background: linear-gradient(100.17deg, #FAFAFF -30.78%, #0094C6 30.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-border {
    border: solid 1px #0094C6;
    width: 80%;
    border-radius: 10px;
}

.tb-text {
    font-size: 1.7rem;
    white-space: nowrap;
    background: -webkit-linear-gradient(#0094C6, #FAFAFF);
    background: linear-gradient(100.17deg, #FAFAFF -30.78%, #0094C6 30.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    font-family: 'Train One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: 1s;
    height: max-content;
    margin-bottom: -5px;
}

.tb-text img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.element-atomic-number,
.element-mass,
.element-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max-content;
    font-size: 1.3rem;
}

.element-atomic-number {
    margin-bottom: -10px;
    margin-left: -25px;
    font-size: 13px;
}

.element-mass {
    font-size: 13px;
}

.views-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1C211F;
    justify-items: center;
    transition: 1s;
    z-index: 999;
    overflow: hidden;
}

.user-container {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2f2e413f;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome h2 {
    width: 100%;
    height: max-content;
    cursor: default;
    font-size: 2rem;
    margin-left: 10%;
}

.user-img {
    margin-right: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-container img {
    width: 60px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: center;
}

.nav-item {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-container div:hover {
    color: #1C211F;
    background-color: #0094C6;
}

.nav-container div:hover a {
    color: #1C211F;
}

.nav-container div:hover img {
    filter: grayscale(100%);
    filter: brightness(0);
}

.nav-item a {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #0094C6;
}

.nav-item img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.settings-logout {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.settings-logout a {
    margin-left: 5px;
    text-decoration: none;
    color: #FAFAFF;
}

.settings-logout a:hover {
    color: #0094C6;
}


/* Main menu */

.a1 {
    z-index: 7;
}

.main-menu {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-box {
    width: 100%;
    height: 15%;
    border: solid 1px #0094C6;
}

.objectives-box {
    width: 50%;
    height: 84.5%;
    border: solid 1px #0094C6;
}

.simulations {
    width: 49.75%;
    height: 84.5%;
    border: solid 1px #0094C6;
}

.simulation-box {
    width: 100%;
    height: 35%;
    border: solid 1px #0094C6;
}

.comparacao-de-setores {
    width: 100%;
    height: 64.5%;
    border: solid 1px #0094C6;
}


/* Trade history */

.a2 {
    display: none;
    z-index: 6;
}


/* Notifications */

.a3 {
    display: none;
    z-index: 5;
}


/* Indicators */

.a4 {
    display: none;
    z-index: 4;
}


/* Jackpot */

.a5 {
    display: none;
    z-index: 3;
}

.a6 {
    display: none;
    z-index: 2;
}

.a7 {
    display: none;
    z-index: 1;
}

.main-contracts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.contract-filters {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-crypto {
    border: solid 1px #0094C6;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 82.5%;
    position: relative;
}

.a5 .main-contracts .second-contracts {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.box-search2 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: max-content;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 2%;
    background-color: #0094C6;
}

.line {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: solid 0.1px #FAFAFF;
}

.box-search2:hover {
    box-shadow: 0 2px 8px 1px #fafaff4b;
    border: solid 0.3px #FAFAFF;
}

.filter-by {
    font-size: 1.5rem;
    margin-left: 2%;
    margin-top: 2.5%;
}

.filters-title {
    font-size: 1.3rem;
    margin-left: 7%;
    margin-top: 2.5%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow2 {
    margin-top: 1%;
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.contract-search2 {
    height: 100%;
    width: 280px;
    background: transparent;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    outline: none;
    border: none;
    padding-left: 15px;
    color: #1C211F;
}

.contract-search2:focus {
    color: #1C211F;
}

.lupa-btn2 {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.z1asCe2 {
    display: inline-block;
    fill: currentColor;
    height: 100%;
    line-height: 24px;
    position: relative;
    width: 24px;
    color: #1C211F;
    line-height: 24px;
}

.z1asCe2 svg {
    display: block;
    height: 100%;
    width: 100%;
}

.box-check {
    margin-left: 10%;
    margin-top: 3%;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-width: 20px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee;
}

.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.check-container input:checked ~ .checkmark {
    background-color: #0094C6;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title-n {
    font-size: 1.2rem;
    color: #0094C6;
    position: relative;
}

.title-n h1 {
    margin-left: 1%;
    width: max-content;
    height: max-content;
    position: absolute;
}

/* toggle button */

#switch {
    width:130px;
    padding:2px;
    border:4px solid red;
    box-sizing:border-box;
    -webkit-transition:all 03s;
    transition:all 0.5s;
    border-radius:530px;
    cursor:pointer;
  }
  
  #toggle {
    width:35px;
    height:35px;
    background:red;
    border-radius:100%;
    position:relative;
    transition:all 0.5s;
    left:83.1px;
    -webkit-transition:all 0.5s;
  }
  
  #switch.hover #toggle {
    left:0;
    background:lime;
  }
  
  #switch.hover {
    border:4px solid lime;
  }

/* Molecule maker */

.creator-h {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.selector {
    transition: 0.5s;
}

.right-arrow {
    margin-left: 93%;
    margin-top: 22%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
}

.creator {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

.creator-w {
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-arrow {
    margin-left: -870%;
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
}

.inorganic-creator {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-left: -3000px;
    transition: 0.5s;
}

#box-inorganic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#mol_nav_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #0094C6;
}

#mol_stats {
    color: #FAFAFF;
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

#molecule_preview-box {
    border: 1px solid #0094C6;
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#molecule_preview {
    width: max-content;
    height: max-content;
    color: #FAFAFF;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 5%;
}

#molecule_preview-canvas {
    display: none;
    width: 100%;
    height: 100%;
}

.align-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.elem-abr {
    cursor: pointer;
}

.elem-abr:hover {
    color: red;
}

#atom-selection {
    border: 1px solid #FAFAFF;
    width: 70%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#atom-selection button {
    background-color: #1C211F;
    border: 0.1px solid orangered;
    color: #FAFAFF;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.8%;
    width: 3.2%;
    height: 15%;
}

#box-inorganic img {
    width: 25px;
    height: 25px;
    margin: 15px;
    cursor: pointer;
}

#molecule_representation_bt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

#molecule_representation_bt p {
    color: #FAFAFF;
    font-size: 1.5rem;
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#molecule_representation_bt p span {
    margin-left: 10px;
}

#molecule_representation_bt button {
    background-color: #1C211F;
    border: 0.1px solid #FAFAFF;
    color: #FAFAFF;
    font-weight: bold;
    margin: 15px;
    width: 35px;
    height: 35px;
}

.organic-creator {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-left: 3000px;
    transition: 0.5s;
}

.creator button {
    color: #FAFAFF;
    font-size: 1.5rem;
    background-color: #1C211F;
    width: 350px;
    height: 350px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.1px solid darkgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.creator button:hover {
    font-weight: bold;
    color: #1C211F;
    opacity: 1;
}

#inorganic-bt:hover {
    background-color: red;
}

/* ligações */

.covalent {
    border: 1px solid cyan;
}

.ionic {
    border: 1px solid lime;
}

.metalic {
    border: 1px solid red;
}

/* -------- */

#organic-bt:hover {
    background-color: lime;
}

.creator button span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bt-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #FAFAFF;
}

.moltype {
    color: #FAFAFF;
    font-weight: bold;
    font-size: 2rem;
}

/* Simulations */

.scene,
canvas {
    width: 100%;
    height: 100%;
}

/* Periodic table / Standard Model */


.align-middle-h {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-middle-w {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tables {
    width: 95%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tables h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.chem-table {
    color: lime;
}

.phys-table {
    color: red;
    opacity: 0.5;
}

.switch-tables {
    width: 95%;
    height: 90vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.align-w {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Periodic-table {
    width: max-content;
    height: max-content;
}

.ptable-line {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.p-element {
    width: 4.5vw;
    height: 8vh;
    color: #FAFAFF;
    font-size: 1rem;
    border: solid 0.5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.space1 {
    height: 8vh;
    width: 73.6vw;
}

.space2 {
    height: 8vh;
    width: 46vw;
}

.space3 {
    width: 4.5vw;
    height: 8vh;
}

.space4 {
    width: 13.7vw;
    height: 8vh;
}

.Alkali-metals {
    background-color: rgba(255, 174, 0, 0.425);
}

.Alkali-metals:hover,
.Alkaline-earth:hover,
.Noble-gases:hover,
.Metalloids:hover,
.Transition-metals:hover,
.Actinoids:hover,
.Lanthanoids:hover,
.Reactive-nonmetals:hover,
.Post-transition-metals:hover {
    background-color: #FAFAFF;
    color: black;
    font-weight: bold;
}

.Alkaline-earth {
    background-color: darkgoldenrod;
}

.Noble-gases {
    background-color: darkslateblue;
}

.Transition-metals {
    background-color: darkred;
}

.Metalloids {
    background-color: rgb(0, 197, 76);
}

.Reactive-nonmetals {
    background-color: darkorange;
}

.Post-transition-metals {
    background-color: darkblue;
}

.Lanthanoids {
    background-color: darksalmon;
}

.Actinoids {
    background-color: darkmagenta;
}

.Standard-model {
    width: 100%;
    height: 100%;
    display: none;
}


/* Equations */

.chart-box {
    width: max-content;
    height: max-content;
    margin-top: 5%;
    margin-left: 1%;
}

.create-function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 55%;
    height: 99.5%;
}

.interval {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center-values {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-values div {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.interval input {
    width: 10vw;
    height: 3vh;
    margin-top: 10px;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
}

.function-maker {
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.function-maker button {
    color: #FAFAFF;
    background-color: #0094C6;
    width: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.function-visualization {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.function-visualization div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.function-visualization h2 {
    height: max-content;
    font-weight: bold;
    font-size: 2.5rem;
    color: #FAFAFF;
}

.equation {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.equation .shift {
    background-color: #FAFAFF;
    color: #0094C6;
}

