@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Train+One&display=swap');

/* 

#040F16
#000022
#001242
#005E7C
#0094C6


dfjc
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C211F;
    color: #e6e6ff;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.dfjc {
    display: flex;
    justify-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.back-container {
    margin: 0;
    padding: 0;
    background-color: #1C211F;
}

.dashboard-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #fafaff18;
    justify-items: center;
}

.dash-view,
.dash-main {
    width: 100%;
    height: 100%;
}

.main-contracts button {
    height: 40px;
    width: 17%;
    font-size: 1rem;
    background-color: #000022;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 1%;
    white-space: nowrap;
}

.main-contracts button:hover {
    opacity: .8;
}

.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.filter-item {
    cursor: pointer;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.filter-item:hover {
    opacity: .6;
}

.main-contracts canvas {
    width: 100%;
    height: 100%;
}

.dash-container {
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 100%;
    justify-self: flex-start;
    border-left: solid 1px #1C211F;
    font-size: 1rem;
    transition: 1s;
    z-index: 888;
}

.dash-container .arrow-expand {
    width: 100%;
    height: 5%;
    display: grid;
    justify-content: flex-end;
}

.dash-container .arrow-expand img {
    margin-top: 50%;
    margin-right: 15px;
    height: 20px;
    width: 20px;
    transform: rotate(0deg);
    cursor: pointer;
}

.logo-container {
    width: 100%;
    height: 15%;
    flex-direction: column;
}

.center-text {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.center-text div {
    background: -webkit-linear-gradient(#0094C6, #FAFAFF);
    background: linear-gradient(100.17deg, #FAFAFF -30.78%, #0094C6 30.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-border {
    border: solid 1px #0094C6;
    width: 80%;
    border-radius: 10px;
}

.tb-text {
    font-size: 1.7rem;
    white-space: nowrap;
    background: -webkit-linear-gradient(#0094C6, #FAFAFF);
    background: linear-gradient(100.17deg, #FAFAFF -30.78%, #0094C6 30.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    font-family: 'Train One', cursive;
    flex-direction: row;
    transform: 1s;
    height: max-content;
    margin-bottom: -5px;
}

.tb-text img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.element-name {
    width: 100%;
    flex-direction: row;
    height: max-content;
    font-size: 1.3rem;
}

.element-atomic-number {
    margin-bottom: -10px;
    margin-left: -25px;
    font-size: 13px;
}

.element-mass {
    font-size: 13px;
}

.views-container {
    width: 95%;
    height: 100%;
    flex-direction: column;
    background-color: #1C211F;
    transition: 1s;
    z-index: 999;
    overflow: hidden;
}

.nav-container {
    flex-direction: column;
    height: 65%;
}

.nav-item {
    position: relative;
    flex-direction: row;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-container div:hover {
    color: #1C211F;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,148,198,1) 35%, rgba(0,212,255,1) 100%);
}

.nav-container div:hover a {
    color: #1C211F;
}

.nav-container div:hover img {
    filter: grayscale(100%);
    filter: brightness(0);
}

.nav-item a {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #0094C6;
}

.nav-item img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.settings-logout {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.settings-logout a {
    margin-left: 5px;
    text-decoration: none;
    color: #FAFAFF;
}

.settings-logout a:hover {
    color: #0094C6;
}


/* Main menu */

.a1 {
    z-index: 7;
}

.main-menu {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-box {
    width: 100%;
    height: 15%;
    border: solid 1px #0094C6;
}

.objectives-box {
    width: 50%;
    height: 84.5%;
    border: solid 1px #0094C6;
}

.simulations {
    width: 49.75%;
    height: 84.5%;
    border: solid 1px #0094C6;
}

.simulation-box {
    width: 100%;
    height: 35%;
    border: solid 1px #0094C6;
}

.comparacao-de-setores {
    width: 100%;
    height: 64.5%;
    border: solid 1px #0094C6;
}


/* Trade history */

.a2 {
    display: none;
    z-index: 6;
}


/* Notifications */

.a3 {
    display: none;
    z-index: 5;
}


/* Indicators */

.a4 {
    display: none;
    z-index: 4;
}


/* Jackpot */

.a5 {
    display: none;
    z-index: 3;
}

.a6 {
    display: none;
    z-index: 2;
}

.a7 {
    display: none;
    z-index: 1;
}

.main-contracts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.arrow2 {
    margin-top: 1%;
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.title-n {
    font-size: 1.2rem;
    color: #0094C6;
    position: relative;
}

.title-n h1 {
    margin-left: 1%;
    width: max-content;
    height: max-content;
    position: absolute;
}

/* toggle button */

#switch {
    width:130px;
    padding:2px;
    border:4px solid #0094C6;
    box-sizing:border-box;
    -webkit-transition:all 03s;
    transition:all 0.5s;
    border-radius:530px;
    cursor:pointer;
  }
  
  #toggle {
    width:35px;
    height:35px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,148,198,1) 35%, rgba(0,212,255,1) 100%);
    border-radius:100%;
    position:relative;
    transition:all 0.5s;
    left:83.1px;
    -webkit-transition:all 0.5s;
  }
  
  #switch.hover #toggle {
    left:0;
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(0,148,198,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  #switch.hover {
    border:4px solid #0094C6;
  }

/* Molecule maker */

.creator-h {
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.selector {
    transition: 0.5s;
}

.right-arrow {
    margin-left: 93%;
    margin-top: 22%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
}

.creator {
    width: 100%;
    height: max-content;
    flex-direction: row;
    transition: 0.5s;
}

.creator-w {
    flex-direction: column;
    position: relative;
}

.left-arrow {
    margin-left: -870%;
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
}

.inorganic-creator {
    width: 100%;
    height: max-content;
    flex-direction: row;
    position: absolute;
    margin-left: -3000px;
    transition: 0.5s;
}

#box-inorganic {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#mol_nav_bar {
    flex-direction: column;
    border: 1px solid #0094C6;
}

#mol_stats {
    color: #FAFAFF;
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

#molecule_preview-box {
    border: 1px solid #0094C6;
    width: 60%;
    height: 50vh;
    flex-direction: column;
}

#molecule_preview {
    width: max-content;
    height: max-content;
    color: #FAFAFF;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 5%;
}

#molecule_preview span:hover {
    color: orangered;
    cursor: pointer;
}

#molecule_preview-canvas {
    display: none;
    width: 100%;
    height: 100%;
}

.align-center {
    width: 100%;
    flex-direction: row;
}

.elem-abr {
    cursor: pointer;
}

.elem-abr:hover {
    color: red;
}

#atom-selection {
    border: 1px solid #FAFAFF;
    width: 70%;
    height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
}

#atom-selection button {
    background-color: #1C211F;
    border: 0.1px solid orangered;
    color: #FAFAFF;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.8%;
    width: 3.2%;
    height: 15%;
}

#box-inorganic img {
    width: 25px;
    height: 25px;
    margin: 15px;
    cursor: pointer;
}

#molecule_representation_bt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

#molecule_representation_bt p {
    color: #FAFAFF;
    font-size: 1.5rem;
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#molecule_representation_bt p span {
    margin-left: 10px;
}

#molecule_representation_bt button {
    background-color: #1C211F;
    border: 0.1px solid #FAFAFF;
    color: #FAFAFF;
    font-weight: bold;
    margin: 15px;
    width: 35px;
    height: 35px;
}

.organic-creator {
    width: 100%;
    height: max-content;
    flex-direction: row;
    position: absolute;
    margin-left: 3000px;
    transition: 0.5s;
}

.creator button {
    color: #FAFAFF;
    font-size: 1.5rem;
    background-color: #1C211F;
    width: 350px;
    height: 350px;
    margin: 50px;
    flex-direction: column;
    border: 0.1px solid darkgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.creator button:hover {
    font-weight: bold;
    color: #1C211F;
    opacity: 1;
}

#inorganic-bt:hover {
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(0,148,198,1) 35%, rgba(0,212,255,1) 100%);
}

/* ligações */

.covalent {
    border: 1px solid cyan;
}

.ionic {
    border: 1px solid lime;
}

.metalic {
    border: 1px solid red;
}

/* -------- */

#organic-bt:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,148,198,1) 35%, rgba(0,212,255,1) 100%);
}

.creator button span {
    width: 100%;
    flex-direction: row;
}

.bt-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #FAFAFF;
}

.moltype {
    color: #FAFAFF;
    font-weight: bold;
    font-size: 2rem;
}
/* 



*/
/* Simulations */
/* 



*/
.scene {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.scene-selection {
    width: 100%;
    height: 40%;
    flex-direction: row;
    flex-wrap: wrap;
}

.sim-select {
    width: 30%;
    height: 100%;
    margin: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #0094C6;
    border-radius: 20px;
}

.sim-select button {
    width: 70%;
    height: 12.5%;
    margin: 2%;
    color: white;
    background-color: #0094C6;
}
/* 



*/
/* Receivers */
/* 



*/
.test{}
/* 



*/
/* Primers */
/* 



*/
.dna-view {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.dna-view div {
    width: 100%;
    height: max-content;
    flex-direction: row;
    flex-wrap: wrap;
}

.dna-view div span {
    width: 75%;
    text-align: center;
    color: white;
    margin: 1%;
}
/* 



*/
/* Periodic table / Standard Model */
/* 
 


*/
.align-middle-h {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.align-middle-w {
    height: max-content;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.tables {
    width: 95%;
    height: 5vh;
    flex-direction: row;
}

.tables h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.chem-table {
    color: #0094C6;
}

.phys-table {
    color: #0094C6;
    opacity: 0.5;
}

.switch-tables {
    width: 95%;
    height: 90vh;
    margin-top: 20px;
    flex-direction: row;
}

.align-w {
    flex-direction: column;
}

.Periodic-table {
    width: max-content;
    height: max-content;
}

.ptable-line {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.p-element {
    width: 4.5vw;
    height: 8vh;
    color: #FAFAFF;
    font-size: 1rem;
    border: solid 0.5px black;
    flex-direction: column;
    cursor: pointer;
}

.p-element-space {
    width: 4.5vw;
    height: 8vh;
    color: #FAFAFF;
    font-size: 1rem;
    border: solid 0.5px transparent;
    flex-direction: column;
    cursor: default;
}

.space1 {
    height: 8vh;
    width: 73.6vw;
}

.space2 {
    height: 8vh;
    width: 46vw;
}

.space3 {
    width: 4.5vw;
    height: 8vh;
}

.space4 {
    width: 13.7vw;
    height: 8vh;
}

.Alkali-metals {
    background-color: rgba(255, 174, 0, 0.425);
}

.Alkali-metals:hover,
.Alkaline-earth:hover,
.Noble-gases:hover,
.Metalloids:hover,
.Transition-metals:hover,
.Actinoids:hover,
.Lanthanoids:hover,
.Reactive-nonmetals:hover,
.Post-transition-metals:hover,
.Unknown:hover {
    background-color: #FAFAFF;
    color: black;
    font-weight: bold;
}

.Alkaline-earth {
    background-color: darkgoldenrod;
}

.Noble-gases {
    background-color: darkslateblue;
}

.Transition-metals {
    background-color: darkred;
}

.Metalloids {
    background-color: rgb(0, 197, 76);
}

.Reactive-nonmetals {
    background-color: darkorange;
}

.Post-transition-metals {
    background-color: darkblue;
}

.Lanthanoids {
    background-color: darksalmon;
}

.Actinoids {
    background-color: darkmagenta;
}

.Standard-model {
    width: 100%;
    height: 100%;
    display: none;
}

#stmodel-box {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 3%;
}

#quarks {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#matter {
    width: 33%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mt-span {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #FAFAFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quarks .stm-particle {
    background-color: rgb(0, 197, 76);
}

#quarks .stm-particle:hover,
#leptons .stm-particle:hover,
#anti-lepton .stm-particle:hover,
#anti-quark .stm-particle:hover {
    background-color: #FAFAFF;
}

#leptons {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#leptons .stm-particle {
    background-color: darkslateblue;
}

#bosons-box {
    height: 75%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bosons {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#anti-matter {
    width: 33%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#anti-quark {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#anti-quark .stm-particle {
    background-color: darkred;
}

#anti-lepton {
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#anti-lepton .stm-particle {
    background-color: rgba(255, 174, 0, 0.425);
}

.stm-particle {
    width: 7.5vw;
    height: 12.5vh;
    color: #FAFAFF;
    border: solid 0.5px black;
    font-size: 1.15rem;
    margin: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
}

.charge-n-simbol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.st-mass,
.st-name {
    width: 100%;
    text-align: center;
}

.st-mass {
    margin: 5%;
}

.st-charge {
    width: max-content;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.st-simbol {
    width: max-content;
    font-size: 3rem;
}

.stm-particle:hover {
    background-color: #FAFAFF;
    color: black;
}
/* 



*/
/* Equations */
/* 



*/
.chart-box {
    width: max-content;
    height: max-content;
    margin-top: 5%;
    margin-left: 1%;
}

.create-function {
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    height: 99.5%;
}

.interval {
    width: 100%;
    height: 20%;
    flex-direction: row;
}

.center-values {
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.center-values div {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.interval input {
    width: 10vw;
    height: 3vh;
    margin-top: 10px;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
}

.function-maker {
    width: 100%;
    height: 79%;
    flex-direction: row;
    flex-wrap: wrap;
}

.function-maker button {
    color: #FAFAFF;
    background-color: #0094C6;
    width: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.function-visualization {
    width: 100%;
    height: 30%;
    flex-direction: row;
}

.function-visualization div {
    height: 100%;
    flex-direction: column;
}

.function-visualization h2 {
    height: max-content;
    font-weight: bold;
    font-size: 2.5rem;
    color: #FAFAFF;
}

.equation {
    width: 50%;
    height: max-content;
    flex-direction: row;
    flex-wrap: wrap;
}

.equation .shift {
    background-color: #FAFAFF;
    color: #0094C6;
}

